ClientGraphique/Connected Services/ServiceVelibReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IWSVelibImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/IWS_Velib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSVelib_GetListStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListStations" />
  </wsdl:message>
  <wsdl:message name="IWSVelib_GetListStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IWSVelib_getStation_InputMessage">
    <wsdl:part name="parameters" element="tns:getStation" />
  </wsdl:message>
  <wsdl:message name="IWSVelib_getStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStationResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSVelib">
    <wsdl:operation name="GetListStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSVelib/GetListStations" message="tns:IWSVelib_GetListStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSVelib/GetListStationsResponse" message="tns:IWSVelib_GetListStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSVelib/getStation" message="tns:IWSVelib_getStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSVelib/getStationResponse" message="tns:IWSVelib_getStation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSVelib" type="tns:IWSVelib">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListStations">
      <soap:operation soapAction="http://tempuri.org/IWSVelib/GetListStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStation">
      <soap:operation soapAction="http://tempuri.org/IWSVelib/getStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IWSVelibImpl">
    <wsdl:port name="BasicHttpBinding_IWSVelib" binding="tns:BasicHttpBinding_IWSVelib">
      <soap:address location="http://localhost:8733/IWS_Velib/ServiceVelib/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>