ClientGraphique/Connected Services/ServiceReference1/IWS_Velib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWS_Velib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWS_Velib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VelibStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableBikeStands" type="xs:int" />
      <xs:element minOccurs="0" name="AvailableBikes" type="xs:int" />
      <xs:element minOccurs="0" name="Banking" type="xs:boolean" />
      <xs:element minOccurs="0" name="BikeStands" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VelibStation" nillable="true" type="tns:VelibStation" />
</xs:schema>